<h1>To Do Dashboard</h1>
<hr>
<form [formGroup]="formTodo" class="form" (submit)="addTodo()">
  <div class="col-md-6 mx-auto">
    <input class="form-control" formControlName="todo" placeholder="What I have to do!">
  </div>
</form>

<div class="todoList">
  <div *ngFor=" let data of list"></div>
</div>


<!-- check if we have something todo -->
<div *ngIf="list.length !== 0 ; else nothingTodo" class="row">
    <div *ngFor="let item of list; index as i" class="todoPost">
      <p class="lh-base">{{ item }}</p>
    </div>
</div>

<ng-template #nothingTodo>
  <h2 class="text-center mt-5">There is nothing to do</h2>
</ng-template>