
.list{ 
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit, 
        minmax(150px, 1fr)
    );
    gap: 10rem;
}
.spacer{ 
    width: auto;
    height: 100px;
}
.todoPost{
    background-color: rgb(247, 218, 102);
    width: 300px;
    height: 300px;
    padding: 1rem;
    border-radius: 12px;
    word-wrap: break-word;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: .5s;

}

.todoPost span{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.todoPost p{
    font-size: 1.5rem;
    
}

.todoPost .delete{
    position:relative;
    width: auto;
    height: auto;
    top:-4rem;
    transition: .5s;
}

.postsit{
    transition: .5s;
    
}
.todoPost:hover .postsit{
    transition: .5s;
    filter: blur(5px);

    
}

.todoPost:hover .delete{
    top:0rem;
    width: auto;
    height: auto;
    transition: .5s;
}

.addedNewTodo{
    animation-name: appearsEffect;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

.deleteTodo{
    animation-name: disappearEffect;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes appearsEffect {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes disappearEffect {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}